body {
}

.alignHorizontal{
    margin: 2%;
}

.margin-bottom{
    margin-bottom: 2%;
}

#tableReport {
    width: 100%;
}

#tableInterview {
    width:100%;
}


.button_save {
    margin-right: 7%;
}
textarea {
    resize: none
}