body {
    background-color: #005395;
}


.resizeImage {
    width: 100%;
}


.well {
    background-color: #f7d704;
    font-family: "Times New Roman", Times, serif;
}

.panel-footer {
    background-color: #a1afad;
  
}


#footer {
    color:black;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}


