body {
    background-color: lightgray;
    font-family: Arial;
}

#TopRow {
    background-color: lightblue;
}

#scheduleLabel {
    font-size: 20px;
}

#centerLogOutBtn {
    vertical-align: middle;
}

#tableMargin{
    margin-bottom: 50px;
} 

.cell {
    width: 12px;
    height: 50px;
    margin: 50px;
}

#marginLeft {
    margin: 10px;
}
